<footer class="container content-space-2 text-center">
  <!-- Logo -->
  <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
    <img class="brand" src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
  </a>
  <!-- End Logo -->

  <p class="fs-6 mb-1">We're part of the <a class="link" href="#">Pixeel Ltd.</a> family along with <a class="link" href="http://htmlstream.com" target="_blank">Htmlstream</a>.</p>
  <p class="fs-6">&copy; Front. 2021 Htmlstream. All rights reserved.</p>

  <!-- Socials -->
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-facebook"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-slack"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-github"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="#">
        <i class="bi-instagram"></i>
      </a>
    </li>
  </ul>
  <!-- End Socials -->
</footer>