<footer class="gradient-x-overlay-sm-primary overflow-hidden">
  <div class="container content-space-t-2 content-space-b-1">
    <!-- CTA -->
    <div class="row justify-content-md-between align-items-md-center text-center text-md-start">
      <div class="col-md mb-3 mb-md-0">
        <h2 class="text-indigo">One tool for your entire team. Get started now!</h2>
      </div>

      <div class="col-md-auto">
        <div class="d-grid d-sm-flex justify-content-sm-center align-items-sm-center gap-3">
          <a class="btn btn-primary btn-transition" href="#">Contact sales</a>
          <small>or</small>
          <a class="btn btn-soft-dark btn-transition" href="#">See pricing <i class="bi-chevron-right small ms-1"></i></a>
        </div>
      </div>
    </div>
    <!-- End CTA -->

    <hr class="my-9">

    <!-- Content -->
    <div class="row">
      <div class="col-6 col-md-3 order-md-2 mb-7 mb-md-0">
        <h5>Company</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link link-sm link-secondary" href="#">About</a></li>
          <li><a class="link link-sm link-secondary" href="#">Services</a></li>
          <li><a class="link link-sm link-secondary" href="#">Careers</a></li>
          <li><a class="link link-sm link-secondary" href="#">Blog</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-3 order-md-3 mb-7 mb-md-0">
        <h5>Legal</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link link-sm link-secondary" href="#">Help</a></li>
          <li><a class="link link-sm link-secondary" href="#">Terms &amp; Conditions</a></li>
          <li><a class="link link-sm link-secondary" href="#">Privacy &amp; Policy</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-sm-6 col-md-3 order-md-1 mb-3 mb-md-0">
        <!-- Logo -->
        <a class="d-inline-flex align-items-center" href="index.html" aria-label="Front">
          <img class="brand" src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->
      </div>

      <div class="col-sm-6 col-md-3 order-md-4 align-self-center align-self-md-start">
        <p class="small">&copy; Front. 2021 Htmlstream</p>
      </div>
    </div>
  </div>
  <!-- End Content -->

  <!-- SVG Background Shape -->
  <figure class="position-absolute top-0 end-0 zi-n1 mt-n10 me-n10" style="width: 32rem;">
    <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M451 820C247.2 820 82 654.8 82 451C82 247.2 247.2 82 451 82" stroke="white" stroke-width="164" stroke-miterlimit="10"/>
    </svg>
  </figure>
  <!-- End SVG Background Shape -->

  <!-- SVG Background Shape -->
  <figure class="position-absolute bottom-0 start-0 zi-n1 mb-n10 me-n10" style="width: 21rem;">
    <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.125" d="M0 82C203.8 82 369 247.2 369 451C369 654.8 203.8 820 0 820" stroke="url(#paint0_linear)" stroke-width="164" stroke-miterlimit="10"/>
      <defs>
        <linearGradient id="paint0_linear" x1="323.205" y1="785.242" x2="-97.6164" y2="56.3589" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="white" stop-opacity="0"/>
          <stop offset="1" stop-color="@@vars.style.color"/>
        </linearGradient>
      </defs>
    </svg>
  </figure>
  <!-- End SVG Background Shape -->
</footer>