<footer class="bg-dark">
  <div class="container content-space-t-2 content-space-b-1">
    <div class="row mb-9">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <!-- Logo -->
        <a href="index.html" aria-label="Front">
          <img class="brand" src="@@autopath/assets/svg/logos/logo-white.svg" alt="Logo">
        </a>
        <!-- End Logo -->
      </div>
      <!-- End Col -->

      <div class="col-6 col-md-3 col-lg-2 mb-5 mb-md-0">
        <h5 class="text-white">Help and advice</h5>
        
        <!-- Links -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">Contact us</a></li>
          <li><a class="link-sm link-light" href="#">FAQ</a></li>
          <li><a class="link-sm link-light" href="#">Legal &amp; Privacy</a></li>
        </ul>
        <!-- End Links -->
      </div>
      <!-- End Col -->

      <div class="col-6 col-md-3 col-lg-2 mb-5 mb-md-0">
        <h5 class="text-white">About us</h5>
        
        <!-- Nav Links -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">About Spec</a></li>
          <li><a class="link-sm link-light" href="#">Careers</a></li>
        </ul>
        <!-- End Nav Links -->
      </div>
      <!-- End Col -->

      <div class="col-md-6 col-lg-5">
        <!-- Form -->
        <form>
          <h5 class="text-white">Stay up to date</h5>
          
          <!-- Input Card -->
          <div class="input-card mt-3">
            <div class="input-card-form">
              <input type="text" class="form-control" placeholder="Enter email" aria-label="Enter email">
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
          <!-- End Input Card -->
        </form>
        <!-- End Form -->

        <p class="form-text text-white-70">New UI kits or big discounts. Never spam.</p>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="row align-items-center">
      <div class="col">
        <p class="text-white-70 small mb-0">&copy; Front. 2021 Htmlstream. All rights reserved.</p>
      </div>
      <!-- End Col -->

      <div class="col-auto">
        <!-- Socials -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
              <i class="bi-facebook"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
              <i class="bi-google"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
              <i class="bi-twitter"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
              <i class="bi-github"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
              <i class="bi-linkedin"></i>
            </a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</footer>