<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light">
  <!-- Topbar -->
  @@include("../navbar/topbar-demo-with-back-to-main-page-link.html", {
    "topbarcategory": "@@topbarcategory",
    "topbarlink": "@@topbarlink"
  })
  <!-- End Topbar -->

  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="@@autopath/demo-real-estate/index.html" aria-label="Front">
        <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link @@if(link=='index.html'){active}" href="@@autopath/demo-real-estate/index.html">Home</a>
          </li>

          <!-- Dropdown -->
          <li class="hs-has-sub-menu nav-item">
            <a id="listingsDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='listings'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Listings</a>
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="listingsDropdown" style="min-width: 14rem;">
              <a class="dropdown-item @@if(link=='property-list.html'){active}" href="@@autopath/demo-real-estate/property-list.html">Listing</a>
              <a class="dropdown-item @@if(link=='property-grid.html'){active}" href="@@autopath/demo-real-estate/property-grid.html">Listing (Grid)</a>
            </div>
          </li>
          <!-- End Dropdown -->
          
          <li class="nav-item">
            <a class="nav-link @@if(link=='property-overview.html'){active}" href="@@autopath/demo-real-estate/property-overview.html">Property Overview</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary btn-transition" href="@@autopath/demo-real-estate/property-seller.html">Start selling</a>
          </li>
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
