<header id="header" class="navbar navbar-expand navbar-dark navbar-fullscreen">
  <nav class="container">
    <!-- Default Logo -->
    <a class="navbar-brand" href="@@autopath/index.html" aria-label="Front">
      <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/logo-white.svg" alt="Logo">
    </a>
    <!-- End Default Logo -->

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFullscreenNav" aria-controls="navbarFullscreenNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-default">
        <i class="bi-list"></i>
      </span>
      <span class="navbar-toggler-toggled">
        <i class="bi-x"></i>
      </span>
    </button>
    <!-- End Toggler -->

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarFullscreenNav">
      <div class="container">
        <div class="navbar-fullscreen-scroller">
          <div class="row justify-content-md-between align-items-md-center">
            <div class="col-md-6">
              <!-- Collapse -->
              <ul class="navbar-nav" id="navbarNavCollapse">
                <!-- Landings -->
                <li class="nav-item">
                  <a class="nav-link collapsed @@if(subcategory=='landings'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#landingsCollapse" aria-expanded="false" aria-controls="landingsCollapse">Landings</a>

                  <div id="landingsCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#navbarNavCollapse">
                    <div id="landingsNavCollapse">
                      <!-- Classic -->
                      <div class="nav-item">
                        <a class="dropdown-item collapsed @@if(subcategory=='classic'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#landingsClassicCollapse" aria-expanded="false" aria-controls="landingsClassicCollapse">Classic</a>

                        <div id="landingsClassicCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#landingsNavCollapse">
                          <a class="dropdown-item @@if(link=='index.html'){active}" href="@@autopath/index.html">Corporate</a>
                          <a class="dropdown-item @@if(link=='landing-classic-analytics.html'){active}" href="@@autopath/landing-classic-analytics.html">Analytics <span class="badge bg-primary rounded-pill ms-1">Hot</span></a>
                          <a class="dropdown-item @@if(link=='landing-classic-studio.html'){active}" href="@@autopath/landing-classic-studio.html">Studio</a>
                          <a class="dropdown-item @@if(link=='landing-classic-marketing.html'){active}" href="@@autopath/landing-classic-marketing.html">Marketing</a>
                          <a class="dropdown-item @@if(link=='landing-classic-advertisement.html'){active}" href="@@autopath/landing-classic-advertisement.html">Advertisement</a>
                          <a class="dropdown-item @@if(link=='landing-classic-consulting.html'){active}" href="@@autopath/landing-classic-consulting.html">Consulting</a>
                          <a class="dropdown-item @@if(link=='landing-classic-portfolio.html'){active}" href="@@autopath/landing-classic-portfolio.html">Portfolio</a>
                          <a class="dropdown-item @@if(link=='landing-classic-software.html'){active}" href="@@autopath/landing-classic-software.html">Software</a>
                          <a class="dropdown-item @@if(link=='landing-classic-business.html'){active}" href="@@autopath/landing-classic-business.html">Business</a>
                        </div>
                      </div>
                      <!-- End Classic -->

                      <!-- App -->
                      <div class="nav-item">
                        <a class="dropdown-item collapsed @@if(subcategory=='app'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#landingsAppCollapse" aria-expanded="false" aria-controls="landingsAppCollapse">App</a>

                        <div id="landingsAppCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#landingsNavCollapse">
                          <a class="dropdown-item @@if(link=='landing-app-ui-kit.html'){active}" href="@@autopath/landing-app-ui-kit.html">UI Kit</a>
                          <a class="dropdown-item @@if(link=='landing-app-saas.html'){active}" href="@@autopath/landing-app-saas.html">SaaS</a>
                          <a class="dropdown-item @@if(link=='landing-app-workflow.html'){active}" href="@@autopath/landing-app-workflow.html">Workflow</a>
                          <a class="dropdown-item @@if(link=='landing-app-payment.html'){active}" href="@@autopath/landing-app-payment.html">Payment</a>
                          <a class="dropdown-item @@if(link=='landing-app-tool.html'){active}" href="@@autopath/landing-app-tool.html">Tool</a>
                        </div>
                      </div>
                      <!-- End App -->

                      <!-- Onepage -->
                      <div class="nav-item">
                        <a class="dropdown-item collapsed @@if(subcategory=='onepage'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#landingsOnepageCollapse" aria-expanded="false" aria-controls="landingsOnepageCollapse">Onepage</a>

                        <div id="landingsOnepageCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#landingsNavCollapse">
                          <a class="dropdown-item @@if(link=='landing-onepage-corporate.html'){active}" href="@@autopath/landing-onepage-corporate.html">Corporate</a>
                          <a class="dropdown-item @@if(link=='landing-onepage-saas.html'){active}" href="@@autopath/landing-onepage-saas.html">SaaS <span class="badge bg-primary rounded-pill ms-1">Hot</span></a>
                        </div>
                      </div>
                      <!-- End Onepage -->
                    </div>
                  </div>
                </li>
                <!-- End Landings -->

                <!-- Company -->
                <li class="nav-item">
                  <a class="nav-link collapsed @@if(subcategory=='company'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#companyCollapse" aria-expanded="false" aria-controls="companyCollapse">Company</a>

                  <div id="companyCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#navbarNavCollapse">
                    <a class="dropdown-item @@if(link=='page-about.html'){active}" href="@@autopath/page-about.html">About</a>
                    <a class="dropdown-item @@if(link=='page-services.html'){active}" href="@@autopath/page-services.html">Services</a>
                    <a class="dropdown-item @@if(link=='page-customer-stories.html'){active}" href="@@autopath/page-customer-stories.html">Customer Stories</a>
                    <a class="dropdown-item @@if(link=='page-customer-story.html'){active}" href="@@autopath/page-customer-story.html">Customer Story</a>
                    <a class="dropdown-item @@if(link=='page-careers.html'){active}" href="@@autopath/page-careers.html">Careers</a>
                    <a class="dropdown-item @@if(link=='page-careers-overview.html'){active}" href="@@autopath/page-careers-overview.html">Careers Overview</a>
                    <a class="dropdown-item @@if(link=='page-hire-us.html'){active}" href="@@autopath/page-hire-us.html">Hire Us</a>
                    <a class="dropdown-item @@if(link=='page-pricing.html'){active}" href="@@autopath/page-pricing.html">Pricing</a>
                    <a class="dropdown-item @@if(link=='page-contacts-agency.html'){active}" href="@@autopath/page-contacts-agency.html">Contacts: Agency</a>
                    <a class="dropdown-item @@if(link=='page-contacts-startup.html'){active}" href="@@autopath/page-contacts-startup.html">Contacts: Startup</a>
                  </div>
                </li>
                <!-- End Company -->

                <!-- Account -->
                <li class="nav-item">
                  <a class="nav-link collapsed @@if(subcategory=='account'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#accountCollapse" aria-expanded="false" aria-controls="accountCollapse">Account</a>

                  <div id="accountCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#navbarNavCollapse">
                    <!-- Authentication -->
                    <div class="nav-item">
                      <a class="dropdown-item collapsed @@if(subcategory=='authentication'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#authenticationCollapse" aria-expanded="false" aria-controls="authenticationCollapse">
                        Authentication
                      </a>

                      <div id="authenticationCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#accountCollapse">
                        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Login</a>
                        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Signup</a>
                        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Reset Password</a>
                        <a class="dropdown-item @@if(link=='page-login-simple.html'){active}" href="@@autopath/page-login-simple.html">Login Simple</a>
                        <a class="dropdown-item @@if(link=='page-signup-simple.html'){active}" href="@@autopath/page-signup-simple.html">Signup Simple</a>
                        <a class="dropdown-item @@if(link=='page-reset-password-simple.html'){active}" href="@@autopath/page-reset-password-simple.html">Reset Password Simple</a>
                      </div>
                    </div>
                    <!-- End Authentication -->

                    <a class="dropdown-item @@if(link=='account-overview.html'){active}" href="@@autopath/account-overview.html">Personal info</a>
                    <a class="dropdown-item @@if(link=='account-login-and-security.html'){active}" href="@@autopath/account-login-and-security.html">Login &amp; Security</a>
                    <a class="dropdown-item @@if(link=='account-notifications.html'){active}" href="@@autopath/account-notifications.html">Notifications</a>
                    <a class="dropdown-item @@if(link=='account-preferences.html'){active}" href="@@autopath/account-preferences.html">Preferences</a>
                    <a class="dropdown-item @@if(link=='account-orders.html'){active}" href="@@autopath/account-orders.html">Orders</a>
                    <a class="dropdown-item @@if(link=='account-wishlist.html'){active}" href="@@autopath/account-wishlist.html">Wishlist</a>
                    <a class="dropdown-item @@if(link=='account-billing.html'){active}" href="@@autopath/account-billing.html">Plans &amp; Payment</a>
                    <a class="dropdown-item @@if(link=='account-address.html'){active}" href="@@autopath/account-address.html">Address</a>
                    <a class="dropdown-item @@if(link=='account-teams.html'){active}" href="@@autopath/account-teams.html">Teams</a>
                  </div>
                </li>
                <!-- End Account -->

                <!-- Pages -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#pagesCollapse" aria-expanded="false" aria-controls="pagesCollapse">
                    Pages
                  </a>

                  <div id="pagesCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#navbarNavCollapse">
                    <div id="pagesNavCollapse">
                      <a class="dropdown-item @@if(link=='page-faq.html'){active}" href="@@autopath/page-faq.html">FAQ</a>
                      <a class="dropdown-item @@if(link=='page-terms.html'){active}" href="@@autopath/page-terms.html">Terms &amp; Conditions</a>
                      <a class="dropdown-item @@if(link=='page-privacy.html'){active}" href="@@autopath/page-privacy.html">Privacy &amp; Policy</a>
                      <a class="dropdown-item @@if(link=='page-coming-soon.html'){active}" href="@@autopath/page-coming-soon.html">Coming Soon</a>
                      <a class="dropdown-item @@if(link=='page-maintenance-mode.html'){active}" href="@@autopath/page-maintenance-mode.html">Maintenance Mode</a>
                      <a class="dropdown-item @@if(link=='page-status.html'){active}" href="@@autopath/page-status.html">Status</a>
                      <a class="dropdown-item @@if(link=='page-invoice.html'){active}" href="@@autopath/page-invoice.html">Invoice</a>
                      <a class="dropdown-item @@if(link=='page-error-404.html'){active}" href="@@autopath/page-error-404.html">Error 404</a>
                    </div>
                  </div>
                </li>
                <!-- End Pages -->

                <!-- Blog -->
                <li class="nav-item">
                  <a class="nav-link collapsed @@if(subcategory=='blog'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#blogCollapse" aria-expanded="false" aria-controls="blogCollapse">Blog</a>

                  <div id="blogCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#navbarNavCollapse">
                    <a class="dropdown-item @@if(link=='blog-journal.html'){active}" href="@@autopath/blog-journal.html">Journal</a>
                    <a class="dropdown-item @@if(link=='blog-metro.html'){active}" href="@@autopath/blog-metro.html">Metro</a>
                    <a class="dropdown-item @@if(link=='blog-newsroom.html'){active}" href="@@autopath/blog-newsroom.html">Newsroom</a>
                    <a class="dropdown-item @@if(link=='blog-article.html'){active}" href="@@autopath/blog-article.html">Article</a>
                    <a class="dropdown-item @@if(link=='blog-author-profile.html'){active}" href="@@autopath/blog-author-profile.html">Author Profile</a>
                  </div>
                </li>
                <!-- End Blog -->

                <!-- Portfolio -->
                <li class="nav-item">
                  <a class="nav-link collapsed @@if(subcategory=='portfolio'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#portfolioCollapse" aria-expanded="false" aria-controls="portfolioCollapse">Portfolio</a>

                  <div id="portfolioCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#navbarNavCollapse">
                    <a class="dropdown-item @@if(link=='portfolio-grid.html'){active}" href="@@autopath/portfolio-grid.html">Grid</a>
                    <a class="dropdown-item @@if(link=='portfolio-product-article.html'){active}" href="@@autopath/portfolio-product-article.html">Product Article</a>
                    <a class="dropdown-item @@if(link=='portfolio-case-studies-branding.html'){active}" href="@@autopath/portfolio-case-studies-branding.html">Case Studies: Branding</a>
                    <a class="dropdown-item @@if(link=='portfolio-case-studies-product.html'){active}" href="@@autopath/portfolio-case-studies-product.html">Case Studies: Product</a>
                  </div>
                </li>
                <!-- End Portfolio -->

                <!-- Demos -->
                <li class="nav-item">
                  <a class="nav-link collapsed @@if(subcategory=='demos'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#demosCollapse" aria-expanded="false" aria-controls="demosCollapse">Demos</a>

                  <div id="demosCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#navbarNavCollapse">
                    <a class="dropdown-item @@if(link=='demo-real-main/index.html'){active}" href="@@autopath/demo-real-main/index.html">Main</a>
                    <a class="dropdown-item @@if(link=='demo-real-estate/index.html'){active}" href="@@autopath/demo-real-estate/index.html">Real Estate</a>
                    <a class="dropdown-item @@if(link=='demo-jobs/index.html'){active}" href="@@autopath/demo-jobs/index.html">Jobs</a>
                    <a class="dropdown-item @@if(link=='demo-course/index.html'){active}" href="@@autopath/demo-course/index.html">Course</a>
                    <a class="dropdown-item @@if(link=='demo-shop/index.html'){active}" href="@@autopath/demo-shop/index.html">E-commerce</a>
                    <a class="dropdown-item @@if(link=='demo-app-marketplace/index.html'){active}" href="@@autopath/demo-app-marketplace/index.html">App Marketplace</a>
                    <a class="dropdown-item @@if(link=='demo-help-desk/index.html'){active}" href="@@autopath/demo-help-desk/index.html">Help Desk</a>
                  </div>
                </li>
                <!-- End Demos -->

                <!-- Docs -->
                <li class="nav-item">
                  <a class="nav-link collapsed @@if(subcategory=='docs'){active}" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#docsCollapse" aria-expanded="false" aria-controls="docsCollapse">Docs</a>

                  <div id="docsCollapse" class="navbar-fullscreen-collapse collapse" data-bs-parent="#navbarNavCollapse">
                    <a class="dropdown-item" href="@@autopath/documentation/index.html">Documentation</a>
                    <a class="dropdown-item" href="@@autopath/snippets/index.html">Snippets</a>
                  </div>
                </li>
                <!-- End Docs -->
              </ul>
              <!-- End Collapse -->
            </div>
            <!-- End Col -->

            <div class="col-md-4 d-none d-md-inline-block">
              <!-- Address -->
              <div class="mb-7">
                <span class="text-cap text-white">Address</span>

                <address class="d-grid gap-1 mb-0">
                  <span class="text-white-70">+1 (062) 109-9222</span>
                  <span class="text-white-70">hello@example.com</span>
                  <span class="text-white-70">153 Williamson Plaza, Maggieberg, MT 09514</span>
                </address>
              </div>
              <!-- End Address -->

              <!-- Socials -->
              <span class="text-cap text-white">Social</span>

              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-soft-light btn-sm btn-icon rounded-circle" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a class="btn btn-soft-light btn-sm btn-icon rounded-circle" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a class="btn btn-soft-light btn-sm btn-icon rounded-circle" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a class="btn btn-soft-light btn-sm btn-icon rounded-circle" href="#">
                    <i class="bi-github"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
    </div>
    <!-- End Collapse -->
  </nav>
</header>
