<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
        data-hs-header-options='{
          "fixMoment": 1000,
          "fixEffect": "slide"
        }'>
  <!-- Topbar -->
  @@include("../navbar/topbar-demo.html", {
    "topbarcategory": "@@topbarcategory",
    "topbarlink": "@@topbarlink"
  })
  <!-- End Topbar -->

  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="@@autopath/index.html" aria-label="Front">
        <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul id="navbarNavDropdownNav" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#homeSection">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#aboutSection">About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#pricingSection">Pricing</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#eventsSection">Events</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#contactsSection">Contacts</a>
          </li>

          <!-- Button -->
          <li class="nav-item">
            <a class="btn btn-primary btn-transition" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">Buy now</a>
          </li>
          <!-- End Button -->
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
