<div class="modal fade" id="accountInvoiceReceiptModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-top-cover bg-primary text-center">
        <figure class="position-absolute end-0 bottom-0 start-0" style="margin-bottom: -.125rem;">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
            <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
          </svg>
        </figure>

        <div class="modal-close">
          <button type="button" class="btn-close btn-close-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <!-- End Header -->

      <div class="modal-top-cover-avatar">
        <img class="avatar avatar-lg avatar-circle avatar-centered border border-3 border-white shadow-sm" src="@@autopath/assets/svg/brands/front.svg" alt="Logo">
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div class="text-center mb-5">
          <h3 class="mb-1">Invoice from Front</h3>
          <span class="d-block">Invoice #3682303</span>
        </div>

        <div class="row mb-6">
          <div class="col-md-4 mb-3 mb-md-0">
            <small class="text-cap text-secondary mb-0">Amount paid:</small>
            <span class="text-dark">$316.8</span>
          </div>
          <!-- End Col -->

          <div class="col-md-4 mb-3 mb-md-0">
            <small class="text-cap text-secondary mb-0">Date paid:</small>
            <span class="text-dark">April 22, 2020</span>
          </div>
          <!-- End Col -->

          <div class="col-md-4">
            <small class="text-cap text-secondary mb-0">Payment method:</small>
            <div class="d-flex align-items-center">
              <img class="avatar avatar-xss me-2" src="@@autopath/assets/svg/brands/mastercard.svg" alt="Image Description">
              <span class="text-dark">&bull;&bull;&bull;&bull; 4242</span>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <small class="text-cap mb-2">Summary</small>

        <ul class="list-group mb-4">
          <li class="list-group-item text-dark">
            <div class="d-flex justify-content-between align-items-center">
              <span>Payment to Front</span>
              <span>$264.00</span>
            </div>
          </li>
          <li class="list-group-item text-dark">
            <div class="d-flex justify-content-between align-items-center">
              <span>Tax fee</span>
              <span>$52.8</span>
            </div>
          </li>
          <li class="list-group-item list-group-item-light text-dark">
            <div class="d-flex justify-content-between align-items-center">
              <strong>Amount paid</strong>
              <strong>$316.8</strong>
            </div>
          </li>
        </ul>

        <div class="d-flex justify-content-end gap-3">
          <a class="btn btn-white btn-xs" href="#"><i class="bi-file-earmark-arrow-down-fill me-1"></i> PDF</a>
          <a class="btn btn-white btn-xs" href="#"><i class="bi-printer-fill me-1"></i> Print Details</a>
        </div>

        <hr class="my-5">

        <p class="modal-footer-text">If you have any questions, please contact us at <a href="mailto:example@gmail.com">example@gmail.com</a> or call at <a class="text-nowrap" href="#">+1 898 34-5492</a></p>
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>