<div class="modal fade" id="realEstateUploadFiles" tabindex="-1" aria-labelledby="realEstateUploadFilesLabel" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h3 class="modal-title" id="realEstateUploadFilesLabel">Add files</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Dropzone -->
        <div id="attachFilesLabel" class="js-dropzone dz-dropzone dz-dropzone-card">
          <div class="dz-message">
            <img class="avatar avatar-xl avatar-4x3 mb-3" src="@@autopath/assets/svg/illustrations/browse.svg" alt="Image Description">

            <h5>Drag and drop your file here</h5>

            <p class="mb-2">or</p>

            <span class="btn btn-white btn-sm">Browse files</span>
          </div>
        </div>
        <!-- End Dropzone -->
      </div>
      <!-- End Body -->

      <div class="card-footer border-top">
        <div class="d-flex justify-content-end gap-3">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
          <button type="button" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>