<div class="offcanvas offcanvas-top offcanvas-navbar-search bg-light" tabindex="-1" id="offcanvasNavbarSearch">
  <div class="offcanvas-body">
    <div class="container">
      <div class="w-lg-75 mx-lg-auto">
        <div class="d-flex justify-content-end mb-3">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="mb-7">
          <!-- Form -->
          <form>
            <!-- Input Card -->
            <div class="input-card">
              <div class="input-card-form">
                <input type="text" class="form-control form-control-lg" placeholder="Search Front" aria-label="Search Front">
              </div>
              <button type="button" class="btn btn-primary btn-lg">Search</button>
            </div>
            <!-- End Input Card -->
          </form>
          <!-- End Form -->
        </div>

        <div class="d-none d-md-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <h5>Quick Links</h5>
              </div>

              <div class="row">
                <div class="col-6">
                  <!-- List -->
                  <ul class="list-pointer list-pointer-primary mb-0">
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">Search Results List</a>
                    </li>
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">Search Results Grid</a>
                    </li>
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">About</a>
                    </li>
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">Services</a>
                    </li>
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">Invoice</a>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>
                <!-- End Col -->

                <div class="col-6">
                  <!-- List -->
                  <ul class="list-pointer list-pointer-primary mb-0">
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">Profile</a>
                    </li>
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">User Contacts</a>
                    </li>
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">Reviews</a>
                    </li>
                    <li class="list-pointer-item">
                      <a class="link-sm link-secondary" href="#">Settings</a>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6">
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <img class="img-fluid" src="@@autopath/assets/img/mockups/img1.png" alt="Image Description">
                    </div>
                    <!-- End Col -->

                    <div class="col-6">
                      <div class="mb-4">
                        <h5>Featured Item</h5>
                        <p>Create astonishing web sites and pages.</p>
                      </div>
                      <a class="btn btn-outline-primary btn-xs btn-transition" href="#">Apply now <i class="bi-chevron-right small ms-1"></i></a>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
    </div>
  </div>
</div>