<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarSignup">
  <div class="offcanvas-header justify-content-end border-0 pb-0">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <!-- Log in -->
    <div id="loginOffcanvasFormLogin">
      <!-- Heading -->
      <div class="text-center mb-7">
        <h3 class="modal-title">Log in to Front</h3>
        <p>Login to manage your account</p>
      </div>
      <!-- End Heading -->

      <form class="js-validate needs-validation" novalidate>
        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="loginOffcanvasFormLoginEmail">Your email</label>
          <input type="email" class="form-control form-control-lg" name="email" id="loginOffcanvasFormLoginEmail" placeholder="email@site.com" aria-label="email@site.com" required>
          <span class="invalid-feedback">Please enter a valid email address.</span>
        </div>
        <!-- End Form -->

        <!-- Form -->
        <div class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="loginOffcanvasFormLoginPassword">Password</label>

            <a class="js-animation-link form-label-link" href="javascript:;"
               data-hs-show-animation-options='{
                 "targetSelector": "#loginOffcanvasFormResetPassword",
                 "groupName": "idForm"
               }'>Forgot Password?</a>
          </div>

          <input type="password" class="form-control form-control-lg" name="password" id="loginOffcanvasFormLoginPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8">
          <span class="invalid-feedback">Please enter a valid password.</span>
        </div>
        <!-- End Form -->

        <div class="d-grid gap-3 text-center">
          <button type="submit" class="btn btn-primary btn-lg">Log in</button>
          
          <span class="divider-center">OR</span>
          
          <button type="submit" class="btn btn-ghost-secondary">
            <span class="d-flex justify-content-center align-items-center">
              <img class="avatar avatar-xss me-2" src="@@autopath/assets/svg/brands/google-icon.svg" alt="Image Description">
              Log in with Google
            </span>
          </button>

          <p>Don't have an account yet?
            <a class="js-animation-link link" href="javascript:;" role="button"
               data-hs-show-animation-options='{
                 "targetSelector": "#loginOffcanvasFormSignup",
                 "groupName": "idForm"
               }'>Sign up</a>
          </p>
        </div>
      </form>
    </div>
    <!-- End Log in -->

    <!-- Log in -->
    <div id="loginOffcanvasFormSignup" style="display: none; opacity: 0;">
      <!-- Heading -->
      <div class="text-center mb-7">
        <h3 class="modal-title">Sign up</h3>
        <p>Fill out the form to get started</p>
      </div>
      <!-- End Heading -->

      <form class="js-validate needs-validation" novalidate>
        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="loginOffcanvasFormSignupEmail">Your email</label>
          <input type="email" class="form-control form-control-lg" name="email" id="loginOffcanvasFormSignupEmail" placeholder="email@site.com" aria-label="email@site.com" required>
          <span class="invalid-feedback">Please enter a valid email address.</span>
        </div>
        <!-- End Form -->

        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="loginOffcanvasFormSignupPassword">Password</label>
          <input type="password" class="form-control form-control-lg" name="password" id="loginOffcanvasFormSignupPassword" placeholder="8+ characters required" aria-label="8+ characters required" required>
          <span class="invalid-feedback">Your password is invalid. Please try again.</span>
        </div>
        <!-- End Form -->

        <!-- Form -->
        <div class="mb-3" data-hs-validation-validate-class>
          <label class="form-label" for="loginOffcanvasFormSignupConfirmPassword">Confirm password</label>
          <input type="password" class="form-control form-control-lg" name="confirmPassword" id="loginOffcanvasFormSignupConfirmPassword" placeholder="8+ characters required" aria-label="8+ characters required" required
                 data-hs-validation-equal-field="#loginOffcanvasFormSignupPassword">
          <span class="invalid-feedback">Password does not match the confirm password.</span>
        </div>
        <!-- End Form -->

        <div class="text-center mb-3">
          <p class="small mb-0">By continuing you agree to our <a href="#">Terms and Conditions</a></p>
        </div>

        <div class="d-grid gap-3 text-center">
          <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
          
          <span class="divider-center">OR</span>
          
          <button type="submit" class="btn btn-ghost-secondary">
            <span class="d-flex justify-content-center align-items-center">
              <img class="avatar avatar-xss me-2" src="@@autopath/assets/svg/brands/google-icon.svg" alt="Image Description">
              Sign up with Google
            </span>
          </button>

          <p>Already have an account?
            <a class="js-animation-link link" href="javascript:;" role="button"
               data-hs-show-animation-options='{
                 "targetSelector": "#loginOffcanvasFormLogin",
                 "groupName": "idForm"
               }'>Log in</a>
          </p>
        </div>
      </form>
    </div>
    <!-- End Log in -->

    <!-- Reset Password -->
    <div id="loginOffcanvasFormResetPassword" style="display: none; opacity: 0;">
      <!-- Heading -->
      <div class="text-center mb-7">
        <h3 class="modal-title">Forgot password</h3>
        <p>Instructions will be sent to you</p>
      </div>
      <!-- End Heading -->

      <form class="js-validate needs-validation" novalidate>
        <!-- Form -->
        <div class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="signupModalFormResetPasswordEmail" tabindex="0">Your email</label>

            <a class="js-animation-link form-label-link" href="javascript:;"
               data-hs-show-animation-options='{
                   "targetSelector": "#loginOffcanvasFormLogin",
                   "groupName": "idForm"
                 }'>
              <i class="bi-chevron-left small"></i> Back to Log in
            </a>
          </div>

          <input type="email" class="form-control form-control-lg" name="email" id="signupModalFormResetPasswordEmail" tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address" required>
          <span class="invalid-feedback">Please enter a valid email address.</span>
        </div>
        <!-- End Form -->

        <div class="d-grid gap-3 text-center">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
    <!-- End Reset Password -->
  </div>
</div>